@import url(./assets/navBar.css);
@import url(./assets/carrossel.css);
@import url(./assets/categorias.css);
@import url(./assets/destaques.css);
@import url(./assets/facilidades.css);
@import url(./assets/newsLetter.css);
@import url(./assets/footer.css);
@import url(./assets/produtos.css);
@import url(./assets/confirmacao.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainFont: 'Inter', sans-serif;
}

body {
    font-family: var(--mainFont);
}

body a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    .hamburger {
        display: none;
    }
    
    .navBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }

    .navBar__menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        margin-bottom: 0;
        padding-left: .5rem;
    }

    .navBar__logo {
        padding: 0;
    }

    .icone {
        display: none;
    }

    .pesquisa {
        display: none;
    }

    #pesquisa {
        display: none;
    }

    .btnSearch {
        display: none;
    }

    .navBar__links {
        display: inline-block;
    }

    .navBar__link {
        display: inline-block;
        text-decoration: none;
        color: #FFFFFF;
        padding-left: .5rem;
        font-size: 13px;
        font-weight: 400;
    }
    
    .navBar__pesquisa {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-left: -2rem;
    }

    .navBar__pesquisa input {
        background-color: #FFFFFF;
        height: 50px;
        margin-left: 1.5rem;
        width: 45%;
    }

    #navBar__pesquisa {
        border: solid 2px #FFFFFF;
    }

    #navBar__pesquisa::placeholder {
        color: #6C757D;
        padding: 3rem 1rem;
        font-weight: 400;
        font-size: 13px;
    }

    .btnNavBar {
        background-color: transparent;
        border: solid 1px #FFFFFF;
        color: #FFFFFF;
        padding: .8rem;
        margin: .5rem;
    }

    .carrossel {
        margin-top: -.1rem;
    }

    .carousel-img1 {
        content: url("./Assets projeto _ Loja Meteora/Tablet/tablet1.png");
    }

    .carousel-img2 {
        content: url("./Assets projeto _ Loja Meteora/Tablet/tablet2.png");
    }

    .carousel-img3 {
        content: url("./Assets projeto _ Loja Meteora/Tablet/tablet3.png");
    }

    .categorias__secoes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-left: 2.5rem;
    }

    .destaques {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: 2rem;
        padding-bottom: 1rem;
        justify-items: center;
    }

    .destaques__produtos {
        margin: 1rem;
        width: 330px;
    }

    .facilidades__img {
        margin-left: 17rem;
        padding: 2rem 0;
    }

    .facilidades__disponiveis {
        display: grid;
        grid-template-rows: max-content;
    }

    .facilidades__opcoes {
        margin-left: 1rem;
        padding: 0.5rem 3rem 0.5rem 0;
    }

    .facilidades__opcoes p {
        margin-right: 6.3rem;
    }

    .newsLetter {
        padding: 1rem 5rem 1rem 5rem;
    }

    .newsLetter p {
        font-size: 20px;
    }

    .newsLetter input {
        width: 336px;
    }

    .carousel-caption {
        top: 36%;
    }

    .caption-2 {
        margin-left: 11rem;
    }

    .caption-2 h5 {
        text-align: end;
        font-size: 32px;
        font-weight: 500;
    }

    .caption-2 p {
        text-align: end;
        font-size: 16px;
        font-weight: 400;
    }

    .caption-3 {
        margin-right: 11rem;
    }

    .caption-3 h5 {
        text-align: start;
        font-size: 32px;
        font-weight: 500;
    }

    .caption-3 p {
        text-align: start;
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (min-width: 1024px) {
    .categorias__secoes {
        margin: 0 3rem 0 4rem;
    }
    
    .destaques {
        margin-left: 2.5rem;
    }

    .facilidades__img {
        margin-left: 22.5rem;
    }

    .facilidades__disponiveis {
        margin: 0 8rem;
    }

    .newsLetter {
        padding: 1rem 13rem;
    }
}

@media screen and (min-width: 1440px) {
    
    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navBar__logo img {
        content: url("../Alura-7-Challenge-Front-End-main/Assets projeto _ Loja Meteora/Desktop/Logo desktop.png");
    }

    .navBar__link:hover {
        color: #DAFF01;
        transition: 1s;
    }

    .carrossel {
        margin-top: -.1rem;
    }

    .carousel-caption h5 {
        font-size: 40px;
    }
  
    .caption-2 {
        margin-left: 40rem;
    }

    .caption-3 {
        margin-right: 40rem;
    }

    .caption-2 h5 {
        text-align: end;
        font-size: 40px;
        font-weight: 500;
    }

    .caption-2 p {
        text-align: end;
        font-size: 20px;
        font-weight: 400;
    }

    .caption-3 h5 {
        text-align: start;
        font-size: 48px;
        font-weight: 500;
    }

    .caption-3 p {
        text-align: start;
        font-size: 20px;
        font-weight: 400;
    }

    .carousel-img1 {
        content: url("./Assets projeto _ Loja Meteora/Desktop/Desktop1.png");
    }

    .carousel-img2 {
        content: url("./Assets projeto _ Loja Meteora/Desktop/Desktop2.png");
    }

    .carousel-img3 {
        content: url("./Assets projeto _ Loja Meteora/Desktop/Desktop3.png");
    }

    .navBar__link {
        font-size: 16px;
        padding-left: 3rem;
    }

    .navBar__pesquisa {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 0;
    }

    .navBar__pesquisa input {
        height: 50px;
        width: fit-content;
    }

    .secoes {
        width: 1110px;
    }

    .secoes img {
        width: 160px;
        padding-right: 0;
    }

    .secoes p {
        width: 160px;
    }

    .categorias__busca h3{
        margin: 4rem 0 2rem 0;
    }

    .categorias__secoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 5rem 0 25.5rem;
        width: 1110px;
    }

    .bombando h3 {
        margin: 3rem 0 0 0;
    }

    .destaques {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        margin: 0 15rem 1rem 15rem;
        padding-bottom: 1rem;
    }

    .destaques__produtos {
        margin: 1rem;
        width: 350px;
    }

    .facilidades__disponiveis {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 15rem 0 20rem;
    }

    .facilidades__img {
        margin-left: 0rem;
    }

    .facilidades__opcoes {
        padding-right: 0;
    }

    .facilidades__opcoes p {
        margin-right: -3rem;
    }

    .newsLetter {
        padding: 1rem 5rem 1rem 5rem;
        margin: 5rem 32rem 5rem 32rem;
    }

    .newsLetter input {
        margin-right: -14rem;
    }
}
